:root {
    --primary-color:#3f909b;
    --secondary-color: #c1c6c9;
    --tertiary-color: #030303;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    h1 {
        text-align: center;
        font-size: 56px;
        color: var(--secondary-color);
        text-shadow: 0 0 5px rgb(0, 0, 0, 1);
    }

    section {
        padding: 100px;
    }

    body {
        font-family: 'Arial', serif;
        background-image: url("../images/rock-climbing-hero-image.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        justify-content: center;
        background-position: bottom;
        background-attachment: fixed;
      }


      header {
        padding: 0px 35px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: -webkit-sticky;
        position: sticky;
        align-content: center;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
      }

    header p {
        font-size: 66px;
        color: var(--secondary-color);
        text-shadow: 0 0 5px rgb(0, 0, 0);
    }

    header nav ul {
        display: inline;
        align-content:flex-end;
        list-style: none;
      }

    header nav ul li a {
        font-size: 20px;
        text-shadow: 0 0 1px rgb(0, 0, 0);
        color: var(--primary-color);
        font-weight: lighter;
        text-shadow: 0 0 5px rgb(0, 0, 0);
        margin: 5px;
    }

      header nav ul li a:hover {
        font-size: 25px;
        transition: 0.3s;
      }

        .nav a:visited, .nav a:hover {
        text-decoration:none;
        color: var(--primary-color);
        font-weight: lighter;
      }

    .about-me-content {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        font-size: 24px;
        text-shadow: 0 0 2px var(--secondary-color);
    }

    .LinkedIn-Photo {
        border: 5px solid var(--tertiary-color);
        height: 210px;
        width: 210px;
    }

    .about-me p {
        margin: 20px 60px;
    }

    .about-me ul li{
        margin: 0 100px;
    }

    .projects-big {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5px 10px;
    }

    .run-buddy {
        background-image: url("../images/run-buddy-background.png");
        height: 500px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:right;
        border: 5px solid var(--tertiary-color);
        opacity: 0.5;
    }

    .run-buddy:hover {
        height:540px;
        border: 5px solid var(--primary-color);
        opacity: 1;
        transition: 0.3s;
    }

    .projects-small {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .horiseo {
        background-image: url("../images/horiseo-background.png");
        height: 300px;
        width: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 5px solid var(--tertiary-color);
        opacity: 0.5;
        margin: 0 2.5px;
    }

    .horiseo:hover {
        height: 330px;
        width: 440px;
        border: 5px solid var(--primary-color);
        opacity: 1;
        transition: 0.3s;
    }

    .p1 {
        background-image: url("../images/project-1-background.png");
        height:fit-content;
        height: 300px;
        width: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 5px solid var(--tertiary-color);
        opacity: 0.5;
        margin: 0 2.5px;
    }

    .p1 h3 p{
    }

    .p2 {
        background-image: url("../images/project-2-background.png");
        height: 300px;
        width: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 5px solid var(--tertiary-color);
        opacity: 0.5;
        margin: 0 2.5px;
    }

    .p3 {
        background-image: url("../images/project-3-background.png");
        height: 300px;
        width: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 5px solid var(--tertiary-color);
        opacity: 0.5;
        margin: 0 2.5px;
    }

    .contact-me {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
    }

    .contact-info {
        margin: 20px;
        height: 150px;
        width: 150px;
        opacity: 0.5;
    }

    .contact-info:hover {
        opacity: 1;
        height: 200px;
        width: 200px;
        transition: 0.3s;
    }